<h1>Add Trivia Questions</h1>
<%= form_for :post ,url: posts_path  do |f| %>
  <p>
    <%= f.label :Question %><br>
    <%= f.text_area(:question, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :Answer %><br>
    <%= f.text_field(:answer, {:class => 'form-control'}) %>
  </p>

  <p>
   Points : 4
  </p>

  <p>
    <%= f.submit("Submit" , {:class => 'btn btn-primary'}) %>
  </p>
<% end %>