
<% if @answerstate.answercount != 0%>
  <% if @answerstate.answerflag == "false"%>
    <div class="alert alert-danger"><strong>Wrong Answer!</strong> Try again</div>
    <% else %>
    <div class="alert alert-success"> <strong>Correct Answer!</strong> Try Next Question </div>
  <% end %>

<% end %>
<h1>Q. <%= @post.question %></h1>
<%= form_for :post , url: verify_answer_path  do |f| %>
  <p>

    <%= f.text_field :answer , ({:value => '',:placeholder => 'Your Answer' , :class => 'form-control'}) %>
    <%= f.hidden_field :question_id, :value => @post.id %>
  </p>
  <p>
  <span class="label label-pill label-success">Points : <%= @post.points %></span>
  </p>

  <p>
    <%= f.submit("Submit" , {:class => 'btn btn-primary'}) %>
  </p>
<% end %>