<h1>Q. <%= @post.question %></h1>
<%= form_for :triviaanswer, url: {action: "verify_trivia_answer" } do |f| %>
  <p>
    <%= f.label 'Answer' %><br>
    <%= f.text_field(:answer, {:class => 'form-control'}) %>
    <%= f.hidden_field :question_id, :value => @post.id %>
  </p>

  <p><%= @post.points %></p>

  <p>
    <%= f.submit("Submit" , {:class => 'btn btn-primary'}) %>
  </p>
<% end %>